MANIFEST
poetry.lock
pip-wheel-metadata/
yo.yaml

*.py[cod]
.cache
.pytest_cache/

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Docs
docs/_build/

.mypy_cache
